[submodule "sources_non_forked/neocomplete"]
	path = sources_non_forked/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "sources_non_forked/vim-jsx"]
	path = sources_non_forked/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "sources_non_forked/vim-javascript"]
	path = sources_non_forked/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "sources_non_forked/vim-colorschemes"]
	path = sources_non_forked/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "sources_non_forked/typescript-vim"]
	path = sources_non_forked/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "sources_non_forked/vim-stylus"]
	path = sources_non_forked/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "sources_non_forked/editorconfig-vim"]
	path = sources_non_forked/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
